DATABASE_URL=""                 # database connection string
SESSION_ID_BYTES=32             # the bytes for creating session id
ECHO_SQL=False                  # sqlalchemy printing sql command feature
SESSION_EXPIRE_AT=604800        # session expired time